@font-face {
    font-family: "RobotoDraft";
    src: url("../font/RobotoDraft-Regular.woff.ttf");
}

body {
    margin: 0;
    padding: 0;
    text-rendering: optimizeLegibility;
    background-color: #e0e0e0;
    color: #424242;
    font-family: 'RobotoDraft', 'Helvetica Neue', Helvetica, Arial;
}

header{
    height: 55px;
    background-color: white;
    display: flex;
    justify-content: space-between;
}

h1{
    font-size: 22px;
    margin-bottom: 6px;
}

header img{
    width: 100px;
}

img{
    width: 100%;
}

ul{
    margin: 0;
    padding: 0;
}

li{
    list-style: none;
}

nav ul{
    display: flex;
    width: 167px;
    justify-content: normal;
}

nav ul li{
    cursor: pointer;
    padding: 18px 8px;
}

input{
    width: 100%;
    margin: 10px 0;
}

footer{
    background-color: black;
    height: 50px;
}

.container{
    width: 100%;
}

.flex{
    display: flex;
    align-items: center;
}

.bg-article{
    background-image: url(../img/mm-guide-be-there-hp-hero.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    background-color: #ffab91;
    padding: 82px 35px 32px 35px;
}

.bg-article div{
    padding: 1px 18px;
    background-color: #ff7043;
    width: 67%;
    color: white;
}

.bg-article p{
    font-size: 15px;
    margin-top: 0;
}

.desc-article{
    background-color: blue;
    color: white;
    padding: 10px 20px;
    margin-top: -4px;
}

.desc-article h2{
    margin-top: 0;
    font-size: 16px;
}

.desc-article a{
    text-decoration: none;
    color: white;
}

.bg-red{
    background-color: #c62828;
}

.bg-purple{
    background-color: #5c6bc0;
    margin-bottom: 13px;
}

.image-article-secondaire img{
    margin-top: 15px;
}

.image-article-secondaire{
    width: 50%;
}

.contenu-article-secondaire{
    width: 50%;
    padding: 0 10px;
}

.contenu-article-secondaire h2{
    font-size: 14px;
    margin-bottom: 4px;
}

.contenu-article-secondaire p{
    font-size: 12px;
    margin-top: 0;
}

.bloc-form{
    width: 60%;
    padding: 10px 20%;
    margin-top: 20px;
    background-color: #f5f5f5;
}

input[type=submit] {
    background-color: #5677fc;
    border-radius: 2px;
    font-weight: 500;
    padding: .45em .938em .5em;
    text-transform: uppercase;
    border: 1px solid transparent;
    color: white;
    margin: 1em auto 0 auto;
    display: block;
    font-size: 0.9em;
    width: 51%;
    margin-bottom: 20px;
}